{% extends 'twiiter/base.html' %}

{% block title %}Logged Out - Twiiter{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h3>You have been logged out</h3>
                <p>Thank you for using Twiiter!</p>
                <div class="d-grid gap-2">
                    <a href="{% url 'twiiter:login' %}" class="btn btn-primary">Log In Again</a>
                    <a href="{% url 'twiiter:home' %}" class="btn btn-outline-secondary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}