{% extends 'twiiter/base.html' %}

{% block title %}Search - Twiiter{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card mb-4">
            <div class="card-body">
                <h3>Search</h3>
                <form method="GET" action="{% url 'twiiter:search' %}">
                    <div class="input-group mb-3">
                        {{ form.query }}
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i> Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        {% if 'query' in request.GET %}
            <ul class="nav nav-tabs mb-4" id="searchTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="tweets-tab" data-bs-toggle="tab" data-bs-target="#tweets" type="button" role="tab">
                        Tweets ({{ results.tweets|length }})
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab">
                        Users ({{ results.users|length }})
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="hashtags-tab" data-bs-toggle="tab" data-bs-target="#hashtags" type="button" role="tab">
                        Hashtags ({{ results.hashtags|length }})
                    </button>
                </li>
            </ul>
            
            <div class="tab-content" id="searchTabsContent">
                <div class="tab-pane fade show active" id="tweets" role="tabpanel">
                    {% if results.tweets %}
                        {% for tweet in results.tweets %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <a href="{% url 'twiiter:tweet_detail' tweet.id %}" class="tweet-link text-decoration-none text-dark">
                                        <h5 class="card-title">
                                            <a href="{% url 'twiiter:profile' tweet.author.username %}">
                                                {{ tweet.author.username }}
                                            </a>
                                        </h5>
                                        <p class="card-text">{{ tweet.content }}</p>
                                        {% if tweet.image_url %}
                                            <img src="{{ tweet.image_url }}" class="img-fluid rounded mb-3" alt="Tweet image">
                                        {% endif %}
                                        <small class="text-muted">{{ tweet.created_at }}</small>
                                    </a>

                                    <div class="tweet-actions mt-3">
                                        <a href="{% url 'twiiter:tweet_detail' tweet.id %}">
                                            <i class="far fa-comment"></i> {{ tweet.comments.count }}
                                        </a>
                                        <a href="{% url 'twiiter:like_toggle' tweet.id %}" class="like-button {% if tweet.id in user_liked_tweets %}liked{% endif %}">
                                            <i class="{% if tweet.id in user_liked_tweets %}fas{% else %}far{% endif %} fa-heart"></i>
                                            <span class="like-count">{{ tweet.likes.count }}</span>
                                        </a>
                                        {% if user == tweet.author %}
                                            <a href="{% url 'twiiter:edit_tweet' tweet.id %}">
                                                <i class="far fa-edit"></i> Edit
                                            </a>
                                            <a href="{% url 'twiiter:delete_tweet' tweet.id %}" class="text-danger">
                                                <i class="far fa-trash-alt"></i> Delete
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No tweets found matching your search.</p>
                    {% endif %}
                </div>
                
                <div class="tab-pane fade" id="users" role="tabpanel">
                    {% if results.users %}
                        <div class="row">
                            {% for user_obj in results.users %}
                                <div class="col-md-4 mb-4">
                                    <div class="card h-100">
                                        <div class="card-body text-center">
                                            <img src="{{ user_obj.profile.profile_picture }}" class="rounded-circle img-fluid mb-3" style="max-width: 100px; max-height: 100px;">
                                            <h5 class="card-title">{{ user_obj.username }}</h5>
                                            <p class="card-text">{{ user_obj.profile.bio|truncatechars:100 }}</p>
                                            <a href="{% url 'twiiter:profile' user_obj.username %}" class="btn btn-primary">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No users found matching your search.</p>
                    {% endif %}
                </div>
                
                <div class="tab-pane fade" id="hashtags" role="tabpanel">
                    {% if results.hashtags %}
                        <div class="list-group">
                            {% for hashtag in results.hashtags %}
                                <a href="{% url 'twiiter:hashtag' hashtag.name %}" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">#{{ hashtag.name }}</h5>
                                        <small>{{ hashtag.tweets.count }} tweets</small>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No hashtags found matching your search.</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}